* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hidden {
    display: none;
}

#error {
    color: red;
}

.header {
    background-color: #e62143;
    color: #FFFFFF;
    padding: 20px;
}

.main-container {
    padding-top: 30px;
    width: 50%;
    margin: auto;
}

.details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.details,
.input-container {
    text-align: center;
    margin: auto;
    padding-top: 2rem;
    width: 80%;
}

.image-details-container {
    padding-top: 2rem;
}

#loading {
    width: 150px;
}

input,
button {
    height: 2rem;
    font-size: large;
}

button {
    background: #e62143;
    border-radius: 11px;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.loading-container {
    width: 50%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.weather-img {
    height: 80px;
}

#description-heading {
    margin-top: 1rem;
}